<!doctype html>
<html lang="fr">
  <head>
    <title>{% block title %}Récap{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  {% block stylesheets %}

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Rajdhani:500" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
    {% stylesheets 
    'bundles/app/css/style.css'
    %}

      <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />

    {% endstylesheets %}

  {% endblock %}


  </head>
  <body>
    <header>
      <div class="row">
        <nav class="col-md-10 offset-md-2 col-12 navbar navbar-expand-md fixed-top bg-light" id="menu-top">
          <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#menutop-xs" aria-controls="menutop-xs" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon fa fa-align-justify"></span>
          </button>
          {% block titre %}
            <a class="navbar-brand" href="{{ path('app_home') }}">Dashboard</a>
          {% endblock %}
          
          <form name="search" method="get" action="/app_dev.php/search" class="search-form visible-xs">
            <input type="text" id="search" name="search" required="required" class="form-control" placeholder="⌕"/>
          </form>
          
          <span class="visible-xs pad-3 notif-xs" id="notif">
            {{ render(controller("AppBundle:Notification:panel")) }}
          </span>

          <div class="hidden-size-xs collapse navbar-collapse-custom" id="menutop-xs">
            <div class="p-0 visible-xs" id="menutop-bg">
              <div class="row m-0 w-100">
                <h5 id="nom" class="pb-2 pt-3 w-100">
                  {% if app.user.avatar == null %}
                  <span class="visible-xs menu-avatar" style="background-color: {{ app.user.color  }};">{{ app.user.username|first|upper }}</span>
                  {% else %}
                  <img src="{{ asset('bundles/app/avatar/'~ app.user.avatar) }}" class="img-fluid rounded visible-xs menu-avatar" alt="avatar" style="max-width: 25px; max-height: 25px;">
                  {% endif %}
                  {{ app.user.username }}
                </h5>
              </div>
                      
              <ul class="nav nav-itempills flex-column pt-3">
                <li class="nav-item">
                  <a class="nav-link text-grey" href="{{ path('app_home') }}"><i class="fa fa-home"></i> Dashboard</a>
                </li>
              </ul>
              <ul class="nav nav-pills flex-column pt-3 w-100">
                {{ render(controller('AppBundle:Default:menu')) }}
              </ul>
              <ul class="nav nav-pills flex-column pt-3 w-100">
                <li class="nav-item">
                  <a class="nav-link text-grey" href="{{ path('fos_user_profil') }}"><i class="fa fa-user"></i> Profil</a>
                </li>
              </ul>
              <ul class="nav nav-pills flex-column pt-3 w-100">
                <li class="nav-item">
                  <a class="nav-link text-grey" href="{{ path('fos_user_security_logout') }}"><i class="fa fa-power-off"></i> Deconnexion</a>
                </li>
              </ul>
            </div>
          </div>

          <div class="navbar-collapse hidden-xs" id="menutop">
            <ul class="navbar-nav w-100" id="groupe-icon">
              {% block groupe %}
              <li class="nav-item li-inline" id="fiche-icon">
                <a class="nav-link" href=""><i class="fa fa-file-text-o" aria-hidden="true"></i></a>
              </li>
              <li class="nav-item li-inline" id="membre-list">
                <a class="nav-link" href=""><i class="fa fa-user-o" aria-hidden="true"></i></a>
              </li>
              {% endblock %}

              {% block invite %}
              {{ render(controller('AppBundle:Default:menuTop')) }}
              {% endblock %}
        
              {% block search%}
                <li class="nav-item li-inline" id="searchbar">
                {{ render(controller('AppBundle:Search:searchBar')) }}
                </li>
              {% endblock %}
            
              <li class="nav-item li-inline" id="notif">
                {{ render(controller("AppBundle:Notification:panel")) }}
              </li>
              <li class="nav-item li-inline" id="profil">
                <a class="nav-link" href="{{ path('fos_user_profil') }}">
                  <button class="btn bg-info" style=" color:white; border-radius: 50%; max-height: 35px; max-width: 35px; padding-left: 10.5px">
                      <i class="fa fa-user" aria-hidden="true"></i>
                  </button>
                </a>
              </li>
              <li class="nav-item li-inline" id="deconnexion" >
                <a class="nav-link btn" href="{{ path('fos_user_security_logout') }}">
                  <button class="btn bg-danger" style="color:white; border-radius: 50%; max-height: 35px; max-width: 35px; padding-left: 9.5px">
                      <i class="fa fa-power-off" aria-hidden="true"></i>
                  </button>
                  </a>
              </li>
            </ul>
          </div>
        </nav>
      </div>
    </header>
    <div class="container-fluid">
      <div class="row h-100">

        {% block menuleft %}
          {{ include('AppBundle::menuleft.html.twig') }}
        {% endblock %}

        <main role="main" class="col-12 col-md-10 offset-md-2 pt-5">

          {% block body %}
          {% endblock %}

        </main>
      </div>
    </div>

    {% block modal %}
    {% endblock %}

  {% block javascripts %}
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    <script src="https://use.fontawesome.com/06bfea3587.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>

    {% javascripts %}
    {% endjavascripts %}

    <script>
      $('#modif').on('show.bs.modal', function (event) {
      var button = $(event.relatedTarget);
      var recipient = button.data('name');
      var modal = $(this);
      modal.find('.modal-title').text('Réglage du membre ' + recipient);
      })
    </script>
    <script type="text/javascript">
      $(document).on("click", "#notif-activated i", function() {
        $.ajax({
            url: '{{ path("app_notif_active") }}',
            type: 'POST',
            data: { id : $(this).attr('data-id') },
            success: function(success) {
              $('#notif').html( success );
              $('.notif-check').prop('checked', true);
            }
        });
      });
    </script>

    <script type="text/javascript">
      $(document).on("click", "#markAll", function() {
        $.ajax({
            url: '{{ path("app_all_notif_active") }}',
            type: 'POST',
            success: function(success) {
              $('#notif').html( success );
              $('.notif-check').prop('checked', true);
            }
        });
      });
    </script>

    <script type="text/javascript">
      $(document).ready(function(){
          $('#search-form').click(function(){
              $('form').submit();
          });
      });
    </script>
    <script type="text/javascript">
          $('form ul li').prepend('<i class="fa fa-exclamation-circle"></i> ');
    </script>
    <script type="text/javascript">
          $('input#search').focus(function() {
            $('.navbar-brand').addClass('collapse-search');
          });
          $('input#search').focusout(function() {
            $('.navbar-brand').removeClass('collapse-search');
          });
    </script>
  {% endblock %} 

  </body>
</html>