{% extends "AppBundle::layout.html.twig" %}

{% block titre %}
  <a class="navbar-brand" href="#">Mes ressources</a>
{% endblock %}

{% block groupe %}
{% endblock %}

{% block body %}
<div class="row col-12" id="menu-titre" style="border-bottom: .0625rem solid #e8e8e8;">
  <h5 class="p-3 m-0">{{ nbRessource }} ressources crées</h5>
</div>
{{ parent() }}
<div id="content" class="col-12">
  <div class="row p-1" id="ressource">
    {{ include('AppBundle:MesRessources:template.html.twig') }}
    <div id="loading"><i class="fa fa-pulse fa-spinner"></i></div>
  </div>

</div>

<a id="trigger" class="afterglow" href="#myvideo"></a>
<video class='afterglow-lightboxplayer' id='myvideo' width='960' height='540'>
  <source id="video" type='video/mp4' src='' />
</video>

<div id="overlayRessource" style="display: none;">
  <div id="overlayTop" class="text-white">
    <h4 id="titreModal" class="inline p-3"></h4>
    <div id="close"><i class="fa fa-close fa-lg"></i></div>
  </div>
  <div id="overlayContent">
    <object class="" id="object" data="" type="application/pdf">
      <embed class="" id="file" src="" type="application/pdf" />
    </object>
    <div id="office"></div>
    <img id="image" class="" src="">
  </div>
</div>

{% endblock %}

{% block modal %}

<div class="modal fade" id="supprimer" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Etes-vous sûr ?
        <button type="button" class="close text-right" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body"><
        <h6>Cette action supprimera cette ressource définitivement.</h6>
      </div>
      <div class="modal-footer">
        <div class="row w-100">
          <div class="text-right col-9 pl-0">
            <form id="delete-ressource" method="POST" action="{{ path('app_ressource_delete') }}">
              <input id="routeModal" type="hidden" name="route" value="">
              <input type="submit" name="submit" class="btn btn-danger btn-lg" value="Supprimer la ressource">
            </form>
          </div>
          <div class="text-right col-3">
            <button type="button" class="btn btn-secondary btn-lg" data-dismiss="modal">Fermer</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="ressource" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}

    {{ parent() }}
    <script src="{{ asset('bundles/app/js/afterglow.js') }}"></script>
    <script type="text/javascript">
      $('.btn-suppr').each(function () {
        var $this = $(this);
        $this.on("click", function() {
          var route = $(this).attr('data-route');
          $('#routeModal').val(route);
          $('#delete-ressource').submit();
        });
      });
    </script>
    <script type="text/javascript">
      $("object#object").css('height', '0');
      $("a#openRessource").on("click", function() {
        var ressource = $(this).attr('data-ressource');
        var title = $(this).attr('data-title');
        $.ajax({
          url: '{{ path("app_ressource_view") }}',
          type: "POST",
          data: { fileName : ressource },
          success: function(ressource) {
            $("#titreModal").html(title);
            if (ressource.type == "video") {
              $("#video").attr("src", ressource.content);
              var evt = document.createEvent("MouseEvents");
              evt.initMouseEvent("click", true, true, window,
                0, 0, 0, 0, 0, false, false, false, false, 0, null);
              var a = document.getElementById("trigger"); 
              a.dispatchEvent(evt);
            }
            if (ressource.type == "file") {
              $("#overlayRessource").show();
              $("object#object").css('height', '100%');
              $("embed#file").attr('src', ressource.content);
              $("object#object").attr('data', ressource.content);
            }
            if (ressource.type == "office") {
              $("#overlayRessource").show();
              $("#office").css('height', '100%');
              $("#office").html(ressource.content);
            }
            if (ressource.type == "image") {
              $("#overlayRessource").show();
              $("#image").css('height', '100%');
              $("#image").attr('src', ressource.content);
            }
          }
        });
      });

      $("#close").on('click', function() {
        $("#overlayRessource").hide();
        $("#office").html('');
        $("embed#file").attr('src', '');
        $("#image").attr('src', '');
        $("object#object").attr('data', '');
        $("object#object").css('height', '0');
        $("#office").css('height', '0');
        $("#image").css('height', '0');
      });
    </script>

<!-- INFINITE SCROLL -->
  <script type="text/javascript">

  var offset = $('.ressources').length;
  var limit  = 12;
  var flag   = true;

  $('#loading').hide();

  $('#content').on('scroll', function() {
    if ($('#content').height() + $('#content').scrollTop() >= $('#content div').height()-4 || $('#content div').height() <= $('#content').height()) {

      $('#loading').show();

      if (flag) {
        flag = false;
        ajaxCall();
      }
    }
  });

  if ($('#content').height() > $('#content div').height()) {
    ajaxCall();
  }

  function ajaxCall() {
      $.ajax({
        type: "POST",
        url: "{{ path('app_mesressources_infinite_scroll') }}",
        data:  {
          offset: offset,
          limit: limit
        },
        success: function(success) {
          $('#loading').hide();
          $('.ressources').last().after(success);
          offset = offset + limit;
          flag = true;

          if (success === '') {
            $('#content').unbind('scroll');
            flag = false;
          }
        }
      });
    }
  </script>
{% endblock %}