{% for ressource in ressources %}
<div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 placeholder pb-2 ressource">
    <div class="card m-5">
        <img class="card-img-top" height="auto" src="{{ asset('bundles/app/images/'~ ressource.image) }}" alt="Ressource Image">
       	<div class="card-body p-0">
           	<h5 class="text-muted m-0 text-center">{{ ressource.titre }}</h5>
            <div class="row col-12 m-0 p-0">
				        <a id="openRessource" data-ressource="{{ ressource.routeDoc }}" data-title="{{ ressource.titre }}" class="openRessource btn btn-sm btn-secondary col-4 rounded-0 text-white" target="_blank">
               		<i class="fa fa-eye" aria-hidden="true"></i>
              	</a>
              	<a href="{{ path('app_ressource_dl', { 'ficheId': ressource.getFiche().getId(), 'groupeId': ressource.getFiche().getGroupe().getId(), 'fileName': ressource.routeDoc }) }}" class="btn btn-sm btn-secondary col-4 rounded-0">
                	<i class="fa fa-cloud-download" aria-hidden="true"></i>
              	</a>
				        <button id="route" type="button" data-route="{{ ressource.routeDoc }}" data-toggle="modal" data-target="#supprimer" class="btn-suppr btn btn-sm btn-secondary col-4 rounded-0">
              		<i class="fa fa-trash" aria-hidden="true"></i>
            	  </button>
        	  </div>
    	  </div>
	  </div>
</div>
{% endfor %}
