{% extends "AppBundle::layout.html.twig" %}

{% block body %}
<div class="col-sm-8 offset-sm-2">
    <h2 class="mt-5 mb-5">Groupe création</h2>

    {{ form_start(form) }}
        <div class="col-12">
            {{ form_label(form.titre) }}
            {{ form_errors(form.titre) }}
            {{ form_widget(form.titre, { 'attr': {'class': 'form-control' }}) }}
        </div>
        <div class="col-12">
            {{ form_label(form.passwordGroupe) }}
            {{ form_errors(form.passwordGroupe) }}
            {{ form_widget(form.passwordGroupe, { 'attr': {'class': 'form-control' }}) }}
        </div>
        <div class="text-right col-12 mt-2">
            <input type="submit" class="btn btn-defaut-inv btn-lg" value="Create" />
            <a href="{{ path('app_home') }}" class="btn btn-secondary btn-lg">Retour</a>
        </div>
    {{ form_end(form) }}
</div>
    
{% endblock %}
