{% extends "AppBundle::layout.html.twig" %}

{% block titre %}
  <a class="navbar-brand" href="{{ path('app_groupe', {'id_groupe': groupe.id}) }}">{{ groupe.titre }}</a> 
  {% if groupe.avatar == null %}
    <span class="default-avatar m-0 hidden-xs" style="background-color: {{ groupe.color  }};">{{ groupe.titre|first|upper }}</span>
  {% else %}
    <img src="{{ asset('bundles/app/avatar/'~ groupe.avatar) }}" class="img-fluid rounded mt-2 text-right hidden-xs" alt="avatar" style="max-width: 35px; max-height: 35px;">
  {% endif %}
{% endblock %}

{% block groupe %}
  <li class="nav-item li-inline" id="fiche-icon">
    <a class="nav-link" href="{{ path('app_groupe', {'id_groupe': groupe.id} ) }}">{{ groupe.nbFiche }}  <i class="fa fa-file-text-o" aria-hidden="true"></i></a>
  </li>
  <li class="nav-item li-inline" id="membre-list">
    <a class="nav-link" href="{{ path('app_membre', {'id_groupe': groupe.id}) }}">{{ groupe.nbMembre }}  <i class="fa fa-user-o" aria-hidden="true"></i></a>
  </li>
{% endblock %}

{% block body %}
<div class="row col-12 pt-2" id="menu-titre" style="border-bottom: .0625rem solid #e8e8e8;">
  <div class="p-3 m-0 col-6" style="font-size: 1.2rem;">{{ groupe.nbFiche }} fiches sur ce groupe 
    {% if (membre.hasRole('ROLE_POST') or membre.user.id == groupe.userId) %}
    <a href="{{ path('app_fiche_add', {'id_groupe': groupe.id}) }}"  style="font-size: 0.8rem;"> Ajouter</a>
    {% endif %}
  </div>
  <div class="text-right pr-0 col-6">
    {% if (membre.hasRole('ROLE_INVITE') or membre.user.id == groupe.userId) %}
    <a class="btn btn-info p-3 rounded-0 h-100" href="{{ path('app_invite_add', {'groupeId': groupe.id}) }}"><i class="fa fa-envelope"></i> Inviter sur ce groupe</a>
    {% endif %}
  </div>
</div>
{{ parent() }}
<div id="content" class="col-12">
  <div class="row p-1">
    {{ include('AppBundle:Fiche:template.html.twig') }}
    <div id="loading"><i class="fa fa-pulse fa-spinner"></i></div>
  </div>

</div>

{% endblock %}

{% block javascripts %}
  {{ parent() }}

  <!-- INFINITE SCROLL -->
  <script type="text/javascript">

  var offset = $('section').length;
  var limit  = 4;
  var flag   = true;

  $('#loading').hide();

  $('#content').on('scroll', function() {
    if ($('#content').height() + $('#content').scrollTop() >= $('#content div').height()-4 || $('#content div').height() <= $('#content').height()) {

      $('#loading').show();

      if (flag) {
        flag = false;
        ajaxCall();
      }
    }
  });

  if ($('#content').height() > $('#content div').height()) {
    ajaxCall();
  }

  function ajaxCall() {
      $.ajax({
        type: "POST",
        url: "{{ path('app_groupe_infinite_scroll') }}",
        data:  {
          offset: offset,
          limit: limit,
          groupeId: {{ groupe.id }}
        },
        success: function(success) {
          $('#loading').hide();
          $('section').last().after(success);
          offset = offset + 4;
          flag = true;

          if (success === '') {
            $('#content').unbind('scroll');
            flag = false;
          }
        }
      });
    }
  </script>
{% endblock %}