{% extends "AppBundle::layout.html.twig" %}

{% block titre %}
  <a class="navbar-brand" href="{{ path('app_groupe', {'groupeId': groupe.id}) }}">{{ groupe.titre }}</a> 
  {% if groupe.avatar == null %}
    <span class="default-avatar m-0 hidden-xs" style="background-color: {{ groupe.color  }};">{{ groupe.titre|first|upper }}</span>
  {% else %}
    <img src="{{ asset('bundles/app/avatar/'~ groupe.avatar) }}" class="img-fluid rounded mt-2 text-right hidden-xs" alt="avatar" style="max-width: 35px; max-height: 35px;">
  {% endif %}
{% endblock %}

{% block groupe %}
  <li class="nav-item li-inline" id="fiche-icon">
    <a class="nav-link" href="{{ path('app_groupe', {'groupeId': groupe.id} ) }}">{{ groupe.nbFiche }}  <i class="fa fa-file-text-o" aria-hidden="true"></i></a>
  </li>
  <li class="nav-item li-inline" id="membre-list">
    <a class="nav-link" href="{{ path('app_membre', {'groupeId': groupe.id}) }}">{{ groupe.nbMembre }}  <i data-toggle="tooltip" data-placement="bottom" title="Membres du groupe" class="fa fa-user-o" aria-hidden="true"></i></a>
  </li>
{% endblock %}

{% block body %}
<div class="row col-12 pt-2" id="menu-titre" style="border-bottom: .0625rem solid #e8e8e8;">
    <h5 class="p-3 m-0">Ajouter une nouvelle fiche au groupe {{ groupe.titre }}</h5>
</div>
<div id="content" class="col-12">
    <div class="col-sm-8 offset-sm-2">
        {{ form_start(form) }}
            <div class="col-12">
                {{ form_label(form.theme) }}
                {{ form_errors(form.theme) }}
                {{ form_widget(form.theme, { 'attr': {'class': 'form-control' }}) }}
            </div>
            <div class="col-12">
                {{ form_label(form.titre) }}
                {{ form_errors(form.titre) }}
                {{ form_widget(form.titre, { 'attr': {'class': 'form-control' }}) }}
            </div>
            <div class="col-12">
                {{ form_label(form.description) }}
                <small class="float-right countChar">1200 caractères restants</small>
                {{ form_errors(form.description) }}
                {{ form_widget(form.description, { 'attr': {'class': 'form-control', 'rows': 6, 'maxlength': 1200 }}) }}
            </div>
            <div class="col-12">
                {{ form_label(form.duree) }}
                {{ form_errors(form.duree) }}
                {{ form_widget(form.duree, { 'attr': {'class': 'form-control' }}) }}
            </div>
            <div class="col-12">
                {{ form_label(form.difficulte) }}
                {{ form_errors(form.difficulte) }}
                {{ form_widget(form.difficulte, { 'attr': {'class': 'form-control' }}) }}
            </div>
            <div class="col-12">
                {{ form_label(form.tag) }}
                {{ form_errors(form.tag) }}<br>
                {{ form_widget(form.tag, { 'attr': { 'data-size': 'auto' } }) }}
            </div>
            <div class="col-12">
                <label>Nouveau tag à associer</label>
                <select class="selectAddTag form-control w-100" name="addTag[]" mutltiple></select>
            </div>
            <div class="text-right col-12 mt-2">
                <input type="submit" class="btn btn-defaut-inv btn-lg" value="Créer" />
                <a href="{{ path('app_groupe', {'groupeId': groupe.id}) }}" class="btn btn-secondary btn-lg">Retour</a>
            </div>
        {{ form_end(form) }}
    </div>
</div>
    
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>

    {% javascripts 
        '@FicheBundle/Resources/js/Fiche/countChar.js'
        '@FicheBundle/Resources/js/Fiche/selectTag.js'
    %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

{% endblock %}