<small class="text-muted">{{ fiche.countNote() }} votes</small>
<h6 class="m-0 text-warning" id="stars" data-route="{{ path('app_fiche_rating') }}" data-id="{{ fiche.id }}" data-avg="{{ fiche.averageNote() }}">
    {% for i in 1..5 %}
        <span class="fa fa-star{% if fiche.averageNote() < loop.index %}-o{% endif %} rating" data-rate="{{ loop.index }}"></span>
    {% endfor %}
</h6>
<small class="rating-error"></small>