{% trans_default_domain 'FOSUserBundle' %}

{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register form-horizontal'}}) }}
	{{ form_errors(form) }}
	<div class="form-group col-lg-12 m-0">
		{{ form_label(form.username, "Identifiant*", {'label_attr': {'class': 'pt-3 col-sm-12 control-label'}}) }}
		{{ form_errors(form.username) }}
		<div class="col-sm-12">
		  	{{ form_widget(form.username, {'attr': {'class': 'form-control'}}) }}
		</div>

		{{ form_label(form.email, "Email*", {'label_attr': {'class': 'pt-3 col-sm-12 control-label'}}) }}
		{{ form_errors(form.email) }}
		<div class="col-sm-12">
		  	{{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
		</div>

		{{ form_label(form.plainPassword, "Mot de passe*", {'label_attr': {'class': 'pt-3 col-sm-12 control-label'}}) }}
		{{ form_errors(form.plainPassword) }}
		<div class="col-sm-12">
		  	{{ form_widget(form.plainPassword, {'attr': {'class': 'form-control'}}) }}
		</div>
	</div>
	<div class="form-group col-lg-12 m-0">
		{{ form_label(form.nom, "Nom", {'label_attr': {'class': 'pt-3 col-sm-12 control-label'}}) }}
		{{ form_errors(form.nom) }}
		<div class="col-sm-12">
		  	{{ form_widget(form.nom, {'attr': {'class': 'form-control'}}) }}
		</div>

		{{ form_label(form.prenom, "Prénom", {'label_attr': {'class': 'pt-3 col-sm-12 control-label'}}) }}
		{{ form_errors(form.prenom) }}
		<div class="col-sm-12">
		  	{{ form_widget(form.prenom, {'attr': {'class': 'form-control'}}) }}
		</div>

		{{ form_label(form.avatar, "Avatar", {'label_attr': {'class': 'pt-3 col-sm-12 control-label'}}) }}
		{{ form_errors(form.avatar) }}
		<div class="col-sm-12">
		  	{{ form_widget(form.avatar, {'attr': {'class': 'form-control'}}) }}
		</div>

		{{ form_label(form.age, "Age", {'label_attr': {'class': 'pt-3 col-sm-12 control-label'}}) }}
		{{ form_errors(form.age) }}
		<div class="col-sm-12">
		  	{{ form_widget(form.age, {'attr': {'class': 'form-control'}}) }}
		</div>

		{{ form_label(form.ville, "Ville", {'label_attr': {'class': 'pt-3 col-sm-12 control-label'}}) }}
		{{ form_errors(form.ville) }}
		<div class="col-sm-12">
		  	{{ form_widget(form.ville, {'attr': {'class': 'form-control'}}) }}
		</div>

		{{ form_label(form.ville, "Captcha", {'label_attr': {'class': 'pt-3 col-sm-12 control-label'}}) }}
		{{ form_errors(form.captchaCode) }}
		<div class="col-sm-12">
			{{ form_widget(form.captchaCode, {'attr': {'class': 'form-control'}}) }}
		</div>

		<div class="col-lg-12 p-2">
			{{ form_widget(form.submit, {'attr': {'class': 'btn btn-primary', 'value': 'Valider'}}) }}
		</div>
	</div>
	{{ form_rest(form) }}
{{ form_end(form) }}

