{% extends "AppBundle::layout.html.twig" %}

{% block titre %}
  <a class="navbar-brand" href="#">Mes fiches</a>
{% endblock %}

{% block groupe %}
  <li class="nav-item li-inline" id="fiche-icon">
    <a class="nav-link" href="{# path('app_groupe', {'id_groupe': groupe.id} ) #}">{{ nbFavoris }}  <i class="fa fa-file-text-o" aria-hidden="true"></i></a>
  </li>
{% endblock %}

{% block body %}
<div class="row col-12" id="menu-titre" style="border-bottom: .0625rem solid #e8e8e8;">
  <h5 class="p-3 m-0">{{ nbFavoris }} fiches</h5>
</div>

<div id="content" class="col-12">
  <div class="row p-1">
    {{ include('AppBundle:Fiche:template.html.twig') }}
    <div id="loading"><i class="fa fa-pulse fa-spinner"></i></div>
  </div>
</div>

{% endblock %}


{% block javascripts %}
{{ parent() }}
<!-- INFINITE SCROLL -->
  <script type="text/javascript">

  var offset = $('section').length;
  var limit  = 4;
  var flag   = true;

  $('#loading').hide();

  $('#content').on('scroll', function() {
    if ($('#content').height() + $('#content').scrollTop() >= $('#content div').height()-4 || $('#content div').height() <= $('#content').height()) {

      $('#loading').show();

      if (flag) {
        flag = false;
        ajaxCall();
      }
    }
  });

  if ($('#content').height() > $('#content div').height()) {
    ajaxCall();
  }

  function ajaxCall() {
      $.ajax({
        type: "POST",
        url: "{{ path('app_favoris_infinite_scroll') }}",
        data:  {
          offset: offset,
          limit: limit
        },
        success: function(success) {
          $('#loading').hide();
          $('section').last().after(success);
          offset = offset + 4;
          flag = true;

          if (success === '') {
            $('#content').unbind('scroll');
            flag = false;
          }
        }
      });
    }
  </script>
{% endblock %}