{% extends "AppBundle::layout.html.twig" %}

{% block titre %}
  <a class="navbar-brand" href="{{ path('app_home') }}">Mes invitations</a> 
{% endblock %}

{% block groupe %}
{% endblock %}
{% block invite %}
{{ render(controller('AppBundle:Default:menuTop')) }}
{% endblock %}

{% block body %}
<div class="row col-12" id="menu-titre" style="border-bottom: .0625rem solid #e8e8e8;">
  <h5 class="p-3 m-0">Invitations liées à votre compte</h5>
</div>
{{ parent() }}
<div id="content" class="col-12 p-0">
  <div class="col-sm-12 p-0">
    <div class="row p-2 table-responsive" id="membre" data-route="{{ path('app_invite_confirm') }}" style=" border-right: .25rem solid transparent;">
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th>Invité par</th>
            <th>Groupe</th>
            <th>E-mail</th>
            <th>Date</th>
            <th>Date d'expiration</th>
            <th>Etat</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
        {% for invite in invites %}
          <tr>
            <td>{{ invite.auteur.username }}</td>
            <td>{{ invite.groupe.titre }}</td>
            <td>{{ invite.email }}</td>
            <td>{{ invite.date|date('d/m/y H:i:s') }}</td>
            <td>{{ invite.dateExpiration|date('d/m/y H:i:s') }}</td>
            <td class="text-{% if invite.active == 'Confirmé' %}
          success
          {% elseif invite.active == 'En attente' %}
          info
          {% elseif invite.active == 'Refusé' %}
          danger
          {% elseif invite.active == 'Expiré' %}
          warning
          {% endif %}">{{ invite.active }}</td>
            <td>
              {% if invite.active == "En attente" %}
              <button id="confirm" data-confirm="true" data-invite="{{ invite.id }}" type="button" class="btn btn-defaut-inv">Accepter</button>
              <button id="confirm" data-confirm="false" data-invite="{{ invite.id }}" type="button" class="btn btn-danger">Refuser</button>
                {% endif %}
            </td>            
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}


{% block javascripts %}
  {{ parent() }}

  {% javascripts 
    '@GroupeBundle/Resources/js/Invite/invite.js'
  %}
    <script src="{{ asset_url }}"></script>
  {% endjavascripts %}
{% endblock %}