{% extends "AppBundle::layout.html.twig" %}

{% block titre %}
  <a class="navbar-brand" href="{{ path('app_groupe', {'id_groupe': groupe.id}) }}">Nouveau membre</a> 
  {% if groupe.avatar == null %}
    <span class="default-avatar m-0" style="background-color: {{ groupe.color  }};">{{ groupe.titre|first|upper }}</span>
  {% else %}
    <img src="{{ asset('bundles/app/avatar/'~ groupe.avatar) }}" class="img-fluid rounded mt-2 text-right" alt="avatar" style="max-width: 35px; max-height: 35px;">
  {% endif %}
{% endblock %}

{% block groupe %}
  <li class="nav-item" id="fiche-icon">
    <a class="nav-link" href="{{ path('app_groupe', {'id_groupe': groupe.id} ) }}">{{ groupe.nbFiche }}  <i class="fa fa-file-text-o" aria-hidden="true"></i></a>
  </li>
  <li class="nav-item" id="membre-list">
    <a class="nav-link" href="{{ path('app_membre', {'id_groupe': groupe.id}) }}">{{ groupe.nbMembre }}  <i class="fa fa-user-o" aria-hidden="true"></i></a>
  </li>
{% endblock %}

{% block body %}
<div id="content" class="col-12">
    <div class="col-sm-8 offset-sm-2">
        <h2 class="mt-5 mb-5">Inviter un nouveau manbre au groupe {{ groupe.titre }}</h2>
        {{ form_start(form) }}
            <div class="col-12">
                {{ form_label(form.email) }}
                {{ form_errors(form.email) }}
                {{ form_widget(form.email, { 'attr': {'class': 'form-control' }}) }}
            </div>
            <div class="text-right col-12 mt-2">
                <input type="submit" class="btn btn-defaut-inv btn-lg" value="Ajouter" />
                <a href="{{ path('app_groupe', {'id_groupe': groupe.id}) }}" class="btn btn-secondary btn-lg">Retour</a>
            </div>
        {{ form_end(form) }}
    </div>
</div>
    
{% endblock %}