<h2>Authentification</h2>

<form action="{{ path('fos_user_security_check') }}" method="post">
    {% if csrf_token %}
	    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
	{% endif %}
	<div class="form-group">
        <label for="username">Identifiant</label>
		<input class="form-control" type="text" id="username" name="_username" value="{{ last_username }}" required="required" />
	</div>
	<div class="form-group">
        <label for="password">Mot de passe</label>
	    <input class="form-control" type="password" id="password" name="_password" required="required" />
	</div>
	<div class="form-group">
	    <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
		<label for="remember_me">Se rappeler de moi</label>
	</div>
	<input class="btn btn-defaut-inv" type="submit" id="_submit" name="_submit" value="Valider" />
</form>

<div class="pull-left">
	<small class="forum-desc"><a href="{{ path('fos_user_registration_register') }}">Vous n'avez pas de compte ?</a> </small>
	<small class="forum-desc"><a href="{{ path('fos_user_resetting_request') }}">Mot de passe oublié ?</a> </small>
</div>