<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Récap</title>

    {% block stylesheets %}

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Rajdhani:500|Courgette" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
    {% stylesheets  
      '@HomeBundle/Resources/css/home.css'
    %}
      <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />

    {% endstylesheets %}

  {% endblock %}
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">
  </head>

  <body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <a class="brand-navbar js-scroll-trigger" href="#page-top">Recap</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger active" href="{{ path('app_purchase') }}">Premium</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger default-item" href="#discover">Découvrir</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger default-item" href="#demo">Démo</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger default-item" href="#contact">Contact</a>
            </li>
            <li class="nav-item ml-5">
              <a class="nav-link js-scroll-trigger default-item" href="{{ path('fos_user_security_login') }}">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger default-item" href="{{ path('fos_user_registration_register') }}">Inscription</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <header class="masthead">
      <div class="container h-100">
        <div class="row h-100">
          <div class="col-lg-7 my-auto">
            <div class="header-content mx-auto">
              <h1 class="mb-5">Récap, l'application de partage de documents</h1>
              <a href="#discover" class="btn btn-outline btn-xl js-scroll-trigger">Découvrir</a>
            </div>
          </div>
          <div class="col-lg-5 my-auto">
            <div class="header-content mx-auto">
                <img src="" class="img-fluid" alt="">
                <div class="button">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>

    <section class="features" id="discover">
      <div class="container">
        <div class="section-heading text-center">
          <h2>Découvrez Recap</h2>
          <p class="text-muted">Stockez vos document et partagez-les aux autres membres de votre groupe !</p>
          <hr>
        </div>
        <div class="row">
          <div class="col-lg-4 my-auto">
            <div class="device-container">
              <div class="device-mockup iphone6_plus portrait white">
                <div class="device">
                  <div class="screen">
                    <img src="{{ asset('bundles/app/home/demo-mobile2.png') }}" class="img-fluid" alt="" style="width: 100%; transform: scale(2, 2);
-ms-transform: scale(2, 2);
-webkit-transform: scale(2, 2);"">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-8 my-auto">
            <div class="container-fluid">
              <div class="row">
                <div class="col-lg-6">
                  <div class="feature-item">
                    <i class="fa-users fa text-primary"></i>
                    <h3>Groupes privés</h3>
                    <p class="text-muted">Créer des groupes privés puis inviter vos amis afin d'accumuler des informations communes.</p>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="feature-item">
                    <i class="fa fa-files-o text-primary"></i>
                    <h3>Bibliothèque</h3>
                    <p class="text-muted">Rassembler vos documents en sûreté sur le Cloud accèssible en un click.</p>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <div class="feature-item">
                    <i class="fa fa-share-alt text-primary"></i>
                    <h3>Partage & Stockage</h3>
                    <p class="text-muted">Partagez votre savoir à travers des fiches récapitulatives.<br>
                    Accompagnez vos fiches avec des documents (Image, Vidéo, PDF, Suite Office) téléchargeables ou visualisables en ligne.</p>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="feature-item">
                    <i class="fa fa-mobile text-primary"></i>
                    <h3>Mobile</h3>
                    <p class="text-muted">Consulter votre groupe n'importe où grâce à votre mobile.<br>
                    Disponible sur toute les plateforme.<br>
                    Application smartphone actuelement non disponible.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="download text-center bg-primary" id="demo">
      <div class="container">
        <div class="row">
          <div class="col-md-8 mx-auto text-white">
            <h2 class="section-heading">Tester avant d'adopter</h2>
            <p>Notre version de démomontration vous permettera d'essayer l'application avant de vous inscrire</p>
            <div class="badges">
              <a href="#demo" class="btn btn-outline btn-xl">Démo</a>
            </div>
          </div>
        </div>
      </div>
    </section>
    {% set bgGif = asset('bundles/app/images/bgSection.gif') %}
    <section class="cta" style="background: url('{{ bgGif }}'); background-size: cover;">
      <div class="cta-content">
        <div class="container">
          <h2 class="m-0 m-w-100">N'attendez plus<br>C'est gratuit</h2>
          <a href="{{ path('fos_user_registration_register') }}" class="btn btn-outline btn-xl js-scroll-trigger">S'inscrire!</a>
        </div>
      </div>
      <div class="overlay"></div>
    </section>

    <section class="contact bg-primary" id="contact">
      <div class="container">
        <div class="row">
          <div class="col-md-2"></div>
          <div class="col-md-8 input-container">
            <div class="section-heading text-center text-white">
              <h2 class="font-70">Contact</h2>
            </div>
            {{ form_start(form) }}
              <div class="col-md-12 col-xs-12 mt-4">
                <div class="styled-input wide">
                  {{ form_errors(form.nom) }}
                  {{ form_widget(form.nom, { 'attr': {'class': 'form-control', 'placeholder': 'Nom' }}) }}
                </div>
              </div>
              <div class="col-md-12 col-sm-12 mt-4">
                <div class="styled-input">
                  {{ form_errors(form.email) }}
                  {{ form_widget(form.email, { 'attr': {'class': 'form-control', 'placeholder': 'Email' }}) }}
                </div>
              </div>
              <div class="col-md-12 col-sm-12 mt-4">
                <div class="styled-input">
                  {{ form_errors(form.tel) }}
                  {{ form_widget(form.tel, { 'attr': {'class': 'form-control', 'placeholder': 'N° téléphone' }}) }}
                </div>
              </div>
              <div class="col-md-12 col-xs-12 mt-4">
                <div class="styled-input wide">
                  {{ form_errors(form.message) }}
                  {{ form_widget(form.message, { 'attr': {'class': 'form-control', 'placeholder': 'Message', 'rows': '5' }}) }}
                </div>
              </div>
              <div class="col-md-12 col-xs-12 mt-4 text-white">
                <input type="submit" class="btn btn-outline btn-xl w-100" value="Envoyer">
              </div>
            {{ form_end(form) }}
          </div>
        </div>
      </div>
    </section>

    <footer>
      <div class="container">
        <h4 class="font-brand">Recap</h4><br>
        <p>© 2018 · All Right Reserved · Jérémy Leprince</p>
        <ul class="list-inline">
          <li class="list-inline-item">
            <a href="#">Privacy</a>
          </li>
          <li class="list-inline-item">
            <a href="#">Mentions légales</a>
          </li>
        </ul>
      </div>
    </footer>
{% block javascripts %}
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    <script src="https://use.fontawesome.com/06bfea3587.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>

    {% javascripts 
      '@HomeBundle/Resources/js/scrollTop.js' 
      '@HomeBundle/Resources/js/home.js'
    %}
      <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

{% endblock %}
  </body>

</html>