{% extends "AppBundle::layout.html.twig" %}

{% block groupe %}
{% endblock %}

{% block body %}
<div class="row" id="menu-titre">
  <div class="col-12 pt-2 pb-2" style="border-bottom: .0625rem solid #e8e8e8;"> 
    <h5 class="m-0 inline">Vous avez accès à {{ nbFicheAccess }} fiches - {{ listGroupes|length }} groupes</h5>
    <h6 class="m-0 float-right p-1">{{ filesize|convert_bytes }} / 
    {% if app.user.isPremium() %}
      &infin;
    {% else %}
      {{ maxFilesize|convert_bytes }}</h6>
    {% endif %}
  </div>
</div>

{{ parent() }}

<div id="content" class="col-12">
  <div>
    {{ include('AppBundle:Default:template.html.twig') }}
    <div id="loading"><i class="fa fa-pulse fa-spinner"></i></div>
  </div>
</div>
{% endblock %}

{% block javascripts %}
{{ parent() }}
<!-- INFINITE SCROLL -->
  <script type="text/javascript">
  var limit  = 4;
  var flag   = true;
  var offset = $('.dashboard-tmpl').length;

  $('#loading').hide();

  $('#content').on('scroll', function() {
    if ($('#content').height() + $('#content').scrollTop() >= $('#content div').height()-4 || $('#content div').height() <= $('#content').height()) {

      $('#loading').show();

      if (flag) {
        flag = false;
        ajaxCall();
      }
    }
  });

  if ($('#content').height() > $('#content div').height()) {
    ajaxCall();
  }

  function ajaxCall() {
      $.ajax({
        type: "POST",
        url: "{{ path('app_dashboard_infinite_scroll') }}" + "/" + offset,
        data:  { limit: limit },
        success: function(success) {
          $('#loading').hide();
          $('.dashboard-tmpl').last().after(success);
          flag   = true;
          offset = $('.dashboard-tmpl').length;

          if (success === '') {
            $('#content').unbind('scroll');
            flag = false;
          }
        }
      });
    }
  </script>
{% endblock %}