{% extends "AppBundle::layout.html.twig" %}

{% block groupe %}
{% endblock %}

{% block body %}
<div class="row col-12" id="menu-titre" style="border-bottom: .0625rem solid #e8e8e8;">
  <h5 class="p-3 m-0">Vous avez accès à {{ nbFicheAccess }} fiches - {{ listGroupes|length }} groupes</h5>
</div>

<div id="content" class="col-12">
  <div>
    {{ include('AppBundle:Default:template.html.twig') }}
    <div id="loading"><i class="fa fa-pulse fa-spinner"></i></div>
  </div>
</div>
{% endblock %}

{% block javascripts %}
{{ parent() }}
<!-- INFINITE SCROLL -->
  <script type="text/javascript">

  var offset = $('.dashboard-tmpl').length;
  var limit  = 4;
  var flag   = true;

  $('#loading').hide();

  $('#content').on('scroll', function() {
    if ($('#content').height() + $('#content').scrollTop() >= $('#content div').height()-4 || $('#content div').height() <= $('#content').height()) {

      $('#loading').show();

      if (flag) {
        flag = false;
        ajaxCall();
      }
    }
  });

  if ($('#content').height() > $('#content div').height()) {
    ajaxCall();
  }

  function ajaxCall() {
      $.ajax({
        type: "POST",
        url: "{{ path('app_dashboard_infinite_scroll') }}",
        data:  {
          offset: offset,
          limit: limit
        },
        success: function(success) {
          $('#loading').hide();
          $('.dashboard-tmpl').last().after(success);
          flag = true;
          offset = offset + 3;

          if (success === '') {
            $('#content').unbind('scroll');
            flag = false;
          }
        }
      });
    }
  </script>
{% endblock %}